<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title> 移动课堂 </title>

    <link th:href="@{/css/bootstrap/bootstrap.min.css}" href="../static/css/bootstrap/bootstrap.min.css"
          rel="stylesheet"/>
    <link th:href="@{/fonts/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/fileinput/fileinput.css}" rel="stylesheet"/>
    <link th:href="@{/css/mobileclass/index.css}" href="../static/css/mobileclass/index.css" rel="stylesheet"/>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> 移动课堂 </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/index}"> 主页 </a></li>
                <li><a th:href="@{/courses}"> 课程 </a></li>
                <li><a th:href="@{/papers}"> 试题 </a></li>
                <li><a th:href="@{/posts}"> 论坛 </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"
                              th:text="${#httpServletRequest.getRemoteUser()}"> 我的 </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/users/profile}"> 个人资料 </a></li>
                        <li><a th:href="@{/courses/mine}"> 课程相关 </a></li>
                        <li sec:authorize="hasAnyRole('ROLE_SYS_ADMIN', 'ROLE_ADMIN')">
                            <a th:href="@{/users}"> 用户管理 </a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_SYS_ADMIN')">
                            <a th:href="@{/roles}"> 角色管理 </a>
                        </li>
                        <li><a th:href="@{/aboutus}"> 关于我们 </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/logout}"> 注销 </a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" th:src="${carouselURL1 ?: '/img/123.png'}" alt="First slide"/>
                <div class="container">
                    <div class="carousel-caption">
                        <h1 th:text="${carouselImg1 == null ? '暂无内容' : carouselImg1.title}"></h1>
                        <p th:text="${carouselImg1 == null ? '暂无内容' : carouselImg1.content}"></p>
                        <p>
                            <a class="btn btn-lg btn-primary" th:href="${carouselImg1 == null ? '' : carouselImg1.pageUrl}" role="button">
                                了解更多
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" th:src="${carouselURL2 ?: '/img/123.png'}" alt="Second slide"/>
                <div class="container">
                    <div class="carousel-caption">
                        <h1 th:text="${carouselImg2 == null ? '暂无内容' : carouselImg2.title}"></h1>
                        <p th:text="${carouselImg2 == null ? '暂无内容' : carouselImg2.content}"></p>
                        <p>
                            <a class="btn btn-lg btn-primary" th:href="${carouselImg2 == null ? '' : carouselImg2.pageUrl}"
                               role="button">了解更多
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" th:src="${carouselURL3 ?: '/img/123.png'}" alt="Third slide"/>
                <div class="container">
                    <div class="carousel-caption">
                        <h1 th:text="${carouselImg3 == null ? '暂无内容' : carouselImg3.title}"></h1>
                        <p th:text="${carouselImg3 ==null ? '暂无内容' : carouselImg3.content}"></p>
                        <p>
                            <a class="btn btn-lg btn-primary" th:href="${carouselImg3 == null ? '' : carouselImg3.pageUrl}"
                               href="#" role="button">了解更多
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4> 热门课程 </h4>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled top_profiles scroll-view" th:each="hotCourseDO : ${hotCourseDOs}">
                <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                        <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                        <a class="title" th:href="@{'/courses/' + ${hotCourseDO.course.id}}"
                           th:text="${hotCourseDO.course.name}">
                            课程名称
                        </a>
                        <p th:text="${hotCourseDO.course.introduction}"> 课程简介 </p>
                        <p>
                            <label for="createTime-course"> 上榜时间: </label>
                            <small id="createTime-course" th:text="${#calendars.format(hotCourseDO.hotCourse.createTime,'yyyy-MM-dd HH:mm:ss')}"> 上榜时间</small>
                            &nbsp;
                            <span class="pull-right">
                                <label for="heat-course"> 热度: </label>
                                <small id="heat-course" th:text="${hotCourseDO.hotCourse.heat}"> 热度</small>
                                &nbsp;
                            </span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4> 热门帖子 </h4>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled top_profiles scroll-view" th:each="hotPostDO : ${hotPostDOs}">
                <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                        <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                        <a class="title" th:href="@{'/posts/' + ${hotPostDO.post.id}}"
                           th:text="${hotPostDO.post.title}">
                            高等数学
                        </a>
                        <p th:text="${hotPostDO.post.content}"> 内容 </p>
                        <p>
                            <label for="createTime"> 上榜时间: </label>
                            <small id="createTime" th:text="${#calendars.format(hotPostDO.hotPost.createTime,'yyyy-MM-dd HH:mm:ss')}"> 上榜时间</small>
                            &nbsp;
                            <span class="pull-right">
                                <label for="heat"> 热度: </label>
                                <small id="heat" th:text="${hotPostDO.hotPost.heat}"> 热度</small>
                                &nbsp;
                            </span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4> 最近考试 </h4>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled top_profiles scroll-view" th:each="recentPaper : ${recentPapers}">
                <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                        <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                        <a class="title" th:href="@{'/papers/' + ${recentPaper.id}}"
                           th:text="${recentPaper.name}">
                            试卷名称
                        </a>
                        <p th:text="${recentPaper.remark}"> 备注 </p>
                        <p>
                            <label for="create-time-paper"> 创建时间: </label>
                            <small id="create-time-paper" th:text="${#calendars.format(recentPaper.createTime,'yyyy-MM-dd HH:mm:ss')}"> 上榜时间</small>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div sec:authorize="hasRole('ROLE_SYS_ADMIN')" class="panel panel-default">
        <div class="panel-heading">
            <h4> 更改轮播 </h4>
        </div>
        <div class="panel-body">
            <form th:action="@{/carousel}" method="post" enctype="multipart/form-data">
                <label for="carousel-page"> 请选择要更改的轮播页: </label>
                <select id="carousel-page" name="page" class="form-control" readonly="readonly">
                    <option value="1"> 第一页</option>
                    <option value="2"> 第二页</option>
                    <option value="3"> 第三页</option>
                </select>
                <label class="margin-top-13" for="carousel-img"> 请上传轮播图: </label>
                <input id="carousel-img" name="carouselImg" class="file" type="file" data-max-file-count="1"/>
                <input name="title" class="form-control margin-top-13" type="text" placeholder="请输入轮播标题"
                       required="required"/>
                <textarea name="content" class="form-control margin-top-13" type="text"
                          placeholder="请输入轮播文字内容" required="required"/>
                <input name="pageUrl" class="form-control margin-top-13" type="text" placeholder="请输入转向页面 URL"
                       required="required"/>
                <button class="btn btn-sm btn-primary btn-block margin-top-13" type="submit"> 发布</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <hr/>
    <footer>
        <p class="pull-right"><a href="#"> 返回顶部 </a></p>
        <p>&copy; 2017 Powered By Chong</p>
    </footer>
</div>
</body>
<script th:src="@{/js/jquery/jquery-3.2.0.js}" src="../static/js/jquery/jquery-3.2.0.js"></script>
<script th:src="@{/js/bootstrap/bootstrap.js}" src="../static/js/bootstrap/bootstrap.js"></script>
<script th:src="@{/js/fileinput/fileinput.js}"></script>
<script th:src="@{/js/fileinput/zh.js}"></script>
<script th:src="@{/js/mobileclass/index.js}"></script>
</html>
