body {
    padding: 0;
    margin: 0;
}

footer {
    padding-bottom: 10px;
}

.content {
    margin-top: 60px;
}

textarea {
    min-height: 120px;
    max-width: 100%;
}

.margin-top-13 {
    margin-top: 13px;
}

.body-question-margin {
    padding: 5px 15px;
}

.margin-left {
    margin-left: 0;
}